body{
    font-family: $font-family;
    width: $body-width;
    background: #fff;
    font-size: $text-normal;
    color: $primary-font-color;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
}
.cta-large {
    width: 334px;
    height: 60px;
    border-radius: 5px;
    background-color: $accent-color;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.faint-txt {
    color: #c0c0c0;
    font-weight: 500;
    text-decoration: underline;
}


.vertical-center {
  display: flex;
  align-items: center;
}

.mt-60 {
    margin-top: 60px;
}

p {
    margin-top: 42px;
    margin-bottom: 42px;
    line-height: normal;
}

.progressbar {
    width: 1440px;
    background-color: #f7f7f7;

    .progress-val {
        width: 1200px;
        background-color: #ff2e5d;
        height: 4px;
    }
}

.title {
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: auto;
      text-transform: uppercase;
}



.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; 
}

.pic-rectangle {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    object-fit: contain;
}

.logo-box {
    width: 130.7px;
    height: 22px;
    object-fit: contain;
}

header {
    width: $body-width;
    height: 100px;
    background-color: #fff;

    div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
}

.fa {
    height: 14.1px;
    object-fit: contain;
    color: #d8d8d8;
}

section {
    width: $body-width;
}


// text values

.txt-normal {
    font-size: $text-normal;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.txt-md {
    font-size: $text-md;
}

.fee-text {
    font-size: $text-lg;
    color: $accent-color;
}
