body{
    font-family: $font-family;
    width: $body-width;
    background: #fff;
    font-size: $txt-normal;
    color: $primary-font-color;
}
.cta-large {
    width: 334px;
    height: 60px;
    border-radius: 5px;
    background-color: $accent-color;
    color: #fff;
}

.pic-rectangle {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.logo-box {
    width: 130.7px;
    height: 22px;
    object-fit: contain;
}

header {
    width: $body-width;
    height: 100px;
    background-color: #ffffff;
}
section {
    width: $body-width;
}


// text values

.txt-normal {
    font-size: $text-normal;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.fee-text {
    font-size: $text-lg;
    color: $accent-color;
}
