@font-face {
  font-family: "AvenirNext";
  src: url("assets/fonts/AVENIRNEXTLTPRO-REGULAR.otf");
}
/* line 1, ../scss/partials/_components.scss */
body {
  font-family: "Lato", sans-serif;
  width: 1440px;
  background: #fff;
  font-size: 18px;
  color: #43464f;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
}

/* line 11, ../scss/partials/_components.scss */
.cta-large {
  width: 334px;
  height: 60px;
  border-radius: 5px;
  background-color: #ff2e5d;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

/* line 21, ../scss/partials/_components.scss */
.faint-txt {
  color: #c0c0c0;
  font-weight: 500;
}

/* line 27, ../scss/partials/_components.scss */
.vertical-center {
  display: flex;
  align-items: center;
}

/* line 32, ../scss/partials/_components.scss */
.mt-60 {
  margin-top: 60px;
}

/* line 36, ../scss/partials/_components.scss */
p {
  margin-top: 42px;
  margin-bottom: 42px;
  line-height: normal;
}

/* line 42, ../scss/partials/_components.scss */
.progressbar {
  width: 1440px;
  background-color: #f7f7f7;
}
/* line 46, ../scss/partials/_components.scss */
.progressbar .progress-val {
  width: 1200px;
  background-color: #ff2e5d;
  height: 4px;
}

/* line 53, ../scss/partials/_components.scss */
.title {
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: auto;
  text-transform: uppercase;
}

/* line 62, ../scss/partials/_components.scss */
.col-centered, .section-two p {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 68, ../scss/partials/_components.scss */
.pic-rectangle {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

/* line 74, ../scss/partials/_components.scss */
.logo-box {
  width: 130.7px;
  height: 22px;
  object-fit: contain;
}

/* line 80, ../scss/partials/_components.scss */
header {
  width: 1440px;
  height: 100px;
  background-color: #fff;
}
/* line 85, ../scss/partials/_components.scss */
header div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 94, ../scss/partials/_components.scss */
.fa {
  height: 14.1px;
  object-fit: contain;
  color: #d8d8d8;
}

/* line 100, ../scss/partials/_components.scss */
section {
  width: 1440px;
}

/* line 107, ../scss/partials/_components.scss */
.txt-normal {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

/* line 116, ../scss/partials/_components.scss */
.txt-md {
  font-size: 32px;
}

/* line 120, ../scss/partials/_components.scss */
.fee-text {
  font-size: 42px;
  color: #ff2e5d;
}

/* line 1, ../scss/pages/_policy.scss */
.fee-box {
  width: 484px;
  height: 136px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 4px #f7f7f7;
  margin-right: auto;
  margin-left: auto;
  padding-left: 70px;
  padding-right: 70px;
}
/* line 11, ../scss/pages/_policy.scss */
.fee-box span {
  font-size: 42px;
  color: #ff2e5d;
}

/* line 17, ../scss/pages/_policy.scss */
.sec-bg {
  background-color: #fefcfc;
}

/* line 21, ../scss/pages/_policy.scss */
.section-one {
  background-color: #fefcfc;
  border: solid 1px #f7f7f7;
  padding-top: 60px;
  padding-bottom: 93px;
}
/* line 27, ../scss/pages/_policy.scss */
.section-two {
  height: 1436px;
  background-color: #fdfdfd;
  padding-bottom: 120px;
  padding-top: 115px;
}
/* line 32, ../scss/pages/_policy.scss */
.section-two p {
  width: 386px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 39, ../scss/pages/_policy.scss */
.section-three {
  padding-bottom: 120px;
  padding-top: 120px;
}

/* line 45, ../scss/pages/_policy.scss */
.premium-txt {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

/* line 53, ../scss/pages/_policy.scss */
.policy-summary > div {
  padding-top: 62px;
  padding-bottom: 62px;
}
