.fee-box {
    width: 484px;
    height: 136px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 4px #f7f7f7;
    margin-right: auto;
    margin-left: auto;
    padding-left: 70px;
    padding-right: 70px;
    span {
        font-size: $text-lg;
        color: $accent-color;
    }
}

.sec-bg {
    background-color: $secondary-background;
}
.section {
    &-one {
        background-color: #fefcfc;
        border: solid 1px #f7f7f7;
        padding-top: 60px;
        padding-bottom: 93px;
    }
    &-two {
        height: 1436px;
        background-color: #fdfdfd;
        padding-bottom: 120px;
        padding-top: 115px;
        p {
            width: 386px;
            @extend .col-centered;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &-three {
        padding-bottom: 120px;
        padding-top: 120px;
    }

}
.premium-txt {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
}

.policy-summary {
    >div {
        padding-top: 62px;
        padding-bottom: 62px;
        min-height: 350px;
    }
}